<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=autor.imie%></title>
</head>
<body>
    <h1><%=autor.imie%></h1>
    <ul>
        <li>
            <b>Kraj </b><%=kraj.nazwa%>
        </li>
        <li>
            <b>Bio </b><%=autor.bio%>
        </li>
        <li>
            <b>Liczba pieśni </b><%=liczbaPiesni || 0%>
        </li>
        <li>
            <b>Albumy</b>
            <%if(albumy.length == 0) { %>
                <ul>
                    <li><%=autor.imie%> nie ma żadnych albumów</li>
                </ul>
            <% } else {%>
                <ul>
                    <% for(let a of albumy) { %>
                        <li>
                            <a href="/autorzy/<%=autor.id%>/<%=a.id%>"><b><%=a.nazwa%></b></a> (<%=a.rok%>) 
                        </li>
                    <% }%>
                </ul>
            <% }%>
        </li>

    </ul>
    <div style="border: gray solid 1px; background-color: gainsboro; padding: 15px;">
        <h2>Dodaj album</h2>
        <form action="/autorzy/<%=autor.id%>" method="POST">
            <div>
                <label for="nazwa">Nazwa</label>
                <input type="text" name="nazwa" required>
            </div>
            <div>
                <label for="rok">Rok</label>
                <input type="number" name="rok" min="1700" max="2023" value="2023" required>
            </div>
            <div style="margin: 15px 0px;">
                <button>zapisz</button>
            </div>
        </form>
    </div>

    <div style="margin-top: 30px;">
        <a href="/autorzy"> Wróć do listy autorów</a>
    </div>
</body>
</html>