<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=playlista.nazwa%></title>
</head>
<body>
    <h1><%=playlista.nazwa%></h1>
    <ul>
        <li><b>Autor</b> <%=playlista.imie%></li>
        <li>
            <b>Uzytkownicy, którzy subskrybuja tą playlistę</b>
            <%if(subs.length==0) {%>
                <ul> <li> </li> </ul>
            <% } else {%>
                <ul>
                <% for(let sub of subs) { %>
                    <li><%=sub.imie%></li>
                <% }%>
                </ul>
            <%}%>                   
        </li>
        <li>
            <b>Piesnie</b>
            <%if(piesniD.length==0) {%>
                <ul> <li> </li> </ul>
            <% } else {%>
                <ul>
                <% for(let p of piesniD) { %>
                    <li><%=p.nazwa%>  (<%=p.imie%>)</li>
                <% }%>
                </ul>
            <%}%>                   
        </li>
    </ul>

    <%if(isUzytkownik) {%>
        <div style="border: gray solid 1px; background-color: gainsboro; padding: 15px;">
            <h2>Dodaj pieśnię</h2>
            <form action="/playlisty/<%=playlista.id%>/piesni" method="POST">
                <div>
                    <%for(p of piesniDD){%>
                    <div>
                        <input type="radio" name="piesn_id" value="<%=p.id%>">
                        <label for="piesn_id"><%=p.nazwa%> (<%=p.imie%>)</label>
                    </div>
                    <%}%>
                </div>
                <div style="margin: 15px 0px;">
                    <button>Zapisz</button>
                </div>
            </form>
        </div>
    <%}%>

    <%if(!isUzytkownik && currentUser) {%>
        <form action="/playlisty/<%=playlista.id%>" method="POST">
            <button>Subskybuj</button>
        </form>
    <%}%>



    <div style="margin-top: 30px;">
        <a href="/playlisty">Wróć do listy playlisty</a>
    </div>
</body>
</html>